/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-nov-2017, 14:07:49
    Author     : usuari
*/

h2{
 font-size:28px;
 color:#632F00;
}

#nolink{
    text-decoration: none !important;
    color: black;
}
body{
    margin: 0;
    padding: 0;
    	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
    background: #f2f2f2; 
    line-height: 1.5em;
    border:0px;
    max-height:100%;
}
#web{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	display:block;
}

#headerTop{ 
    width: 100%;
    height: 30px;
    background-color: #6E2C00;
    margin:0px;
    padding:0px;
    border:0px;
}
#header1{
    width:950px;
    max-width: 100%;
    margin: 0 auto;
    padding-top:3px;
    color:#F0B27A;
    
}

#header{
    height:100px;
    width:100%;
    clear:both;
    display:block;
    margin:0px;
    top:0;
    left:0;
    z-index:10;
    background-color:#935116;
    border-bottom:#542800 solid 8px;
}

#header2{
    width:950px;
    max-width: 100%;
    margin: 0 auto;
    padding-top:3px;
    
}

#content{
    width:990px;
    height:auto;
    margin:0 auto;
    padding:8px;
    border-radius:8px;
    z-index:9;
    overflow:hidden;
}

#footer{
	width:100%;
	height:80px;
	background-color:#935116;
	border-bottom:#542800 solid 8px;
}
.footer_container{
	width:990px;
	height:80px;
	margin:0 auto;
	overflow:hidden;
}

#oculto{
    width:900px;
    max-width: 100%;
    margin: 0 auto;
    margin-top:10px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    background:white;
}

.submenu{
	width:980px;
	height:20px;
	border-radius:5px;
	margin:0 auto;
	padding:3px 5px 3px 5px;
	background-color:#000;
}
	

.submenu_content{
	display:block;
	width:auto;
	height:20px;
	float:left;
	list-style-type:none;
	border-right:#666 solid 1px;
	padding-left:9px;
	padding-right:9px;
        margin-right:5px;
	color:#999;
	text-decoration:none;
	font-weight:bold;
	font-size:14px;
}

.submenu_content:last-child{
	border-right:none;
}

.submenu_content:first-child{
	margin-left:none;
}

.submenu_content:hover{
	border-bottom:solid 3px #542800 ;
	color:#FFF;
}

.button{
	height:auto;
	width:auto;
	padding:5px;
	background:#282828;
	background:linear-gradient(top, #1A1A1A 0%,#282828 100%);
	background:-webkit-linear-gradient(top, #1A1A1A 0%,#282828 100%);
	background:-ms-linear-gradient(top, #1A1A1A 0%,#282828 100%);
	background:-o-linear-gradient(top, #1A1A1A 0%,#282828 100%);
	background:-moz-linear-gradient(top, #1A1A1A 0%,#282828 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1A1A1A), color-stop(100%,#282828));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1A1A1A', endColorstr='#282828',GradientType=0 );
	color:#999;
        border:0;
	border-radius:3px;
	vertical-align:baseline;
	text-align:center;
	font-weight:bolder;
}

.button:hover{
	background:#C97427;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,DEA572), color-stop(100%,#C97427));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06c', endColorstr='#039',GradientType=0 );
	color:#FFF;
	cursor:pointer;
}

fieldset{
    border:0;
    text-align:right;
}
legend{
    text-align:left;
}

#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 3px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: left;
    background-color: #FE9537;
    color: white;
}

